@import url('http://fonts.googleapis.com/earlyaccess/notosanskr.css');
body {
	/* 마진 및 패딩 */
	margin: 0;
	padding: 0;
	/* 글꼴 */
	font-family: 'Noto Sans KR'; 
	/* 색상 */
	background-color:  rgb(233, 236, 239);

	box-sizing: border-box;
}

*, *:after, *:before {
  box-sizing: inherit;
}


/* reset */
p, h1 { margin: 0; padding: 0; }
a { color: #000; }

/* helper */

#columnContainer {
	/* 중앙 정렬 */
	margin: 1rem auto;
	/* 높이 및 크기 */
	width: 80%;
	column-count: 5;
		column-gap: 1rem;
}

/* grid system */
.container, .productcontainer {
	/* 중앙 정렬 */
	margin: 5rem auto 1rem;
	/* 높이 및 크기 */
	width: 80%;
}

.nodisplaycontainer {
	/* 중앙 정렬 */
	margin: 5rem auto 1rem;
	/* 높이 및 크기 */
	width: 80%;
}


.productcontainer .title {
	padding: 1rem;
	background-color: #fff;	
}

.productcontainer h1 {
	text-align: center;
}

.productcontainer p {
	text-align: center;
	color: #a163ba;
	border-top: 2px solid #bba1dc;
	border-bottom: 2px solid #bba1dc;
	width: 100px;
	margin: 0 auto;
}

.row::after {
    content: "";
    clear: both;
    display: block;
}

[class*="col-"] {
	position: relative;
	float: left;
	padding: 1rem;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/* header */
header { 
	/* 높이 및 크기 */
	height: 4rem; width: 100%;
	/* 색상 */
	background-color: #ff6b6b; color: #fff;
	/* 폰트 관련 */
	text-align: center;
	line-height: 4rem;
	font-weight: 800; font-size: 1.5rem;

	/* 포지션 */
	position: fixed; top: 0; left: 0;
	/* z-index */
	z-index: 9998;
}

header a {
	color: #fff;
	text-decoration: none;
}

section {
	display: inline-block;
	margin:  0.25rem;

	width:  100%; 
	background:  #fff;
	transition: all 1s;
}


section  a{
	text-decoration: none;
}
section:hover {
	opacity: 0.7;
	transform: translateY(0.5rem);
}

/* 썸네일 */
.thumbnail_content {
	padding: 1rem;
}

/* 이미지 */
.thumbnail_image {
	position: relative;
}
.thumbnail_image img { width: 100%; }


/* 즐겨 찾기 */
.enjoy {
	position: absolute;
	top: 0; right: 0;
}

.enjoy i {
	position: relative;
	display: block;
	font-size: 2rem;
	padding: 0.5rem;
	color: #fff;
	cursor: pointer;
}

.enjoy i:hover {
	opacity: 0.7;
}

.enjoy i.like {
	color: #fcc419;
}
/* 설명 */
.thumbnail_subscribe h1 {
	/* 폰트 관련 */
	font-size: 1.1rem;
	font-weight: 600;
	/* 패딩 및 마진 */
	margin: 0.8rem 0;
}
.thumbnail_subscribe p {
	/* 폰트 관련 */
	font-size: 0.8rem;
	/* 색상 */
	color: #495057;
	/* 패딩 및 마진 */
	margin: 0.8rem 0;
}

/* 설명 */
.thumbnail_controller {
	/* 패딩 및 마진 */
	padding: 0.5rem;
	/* 텍스트 */
	text-align: center; font-weight: 600;
	/* 색상 */
	background-color: #ff6b6b; color: #fff;	
	/* 기타 */
	cursor: pointer;
}

.thumbnail_controller:hover {
	background-color: #ff8787;
}

/* 보드 최상단 */
.board {
	cursor: pointer;
	/* 그림자 */
		box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.2);
}
/* 뷰티 */
.board .buty {
	background-color: #f06595;
	height: 185px;
	line-height: 185px;
	font-weight: bold;
	font-size: 2rem;
	text-align: center;
	color: #fff;
}

.board .buty:hover {
	background-color: #f783ac;

}

/* 패션 */
.board .fashion {
	background-color: #ff6b6b;
	height: 185px;
	line-height: 185px;
	font-weight: bold;
	font-size: 2rem;
	text-align: center;
	color: #fff;
}

.board .fashion:hover {
	background-color: #ff8787;

}

.item {
	max-width: 100%;
	overflow: hidden;
	position: relative;
}

.item img {
	transition: all 0.3s;
}

.item:hover img {
	transform: scale(1.1);
}

.item:hover .item_subscribe {
	text-decoration: underline;
}

.item_subscribe {
	font-size: 0.9rem;
	color: #222;
	font-weight: bold;
}

/* 하단 고정 버튼 */
.fixed {
	position: fixed;
	bottom: 2rem;
	right: 2rem;
	background-color: #ff6b6b; color: #fff;
	width: 5rem;
	height: 5rem;
	border-radius: 4rem;
	cursor: pointer;
	transition: all 1s;
	line-height: 5rem;
	text-align: center;
}

.fixed:hover {
	transform: translateY(-1rem);
	background-color: #ff8787;
}


/* 모달 */
.modalWrapper {
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: 10000;
}

.modal {
	padding: 1rem;
	width: 400px;
	background-color: #fff;
}

/* Dimmed */
.dimmed, .stardimmed {
	position: fixed;
	top: 0; left: 0;
	width: 100%; height: 100vh;
	background-color: #000;
	opacity: 0.3;
	z-index: 9999;
}

/* tab ui */
.tab {
	list-style: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.tab li {
	float: left;
}

.tab li a {
	display: inline-block;
	color: #666;
	text-align: center;
	text-decoration: none;
	padding: 1rem 3rem;
	font-size: 1rem;
	transition: 0.3s;
}


.tabcontent  {
	display: none;
	background-color: #fff
}
.tabcontent.current {
	display: block;
}
ul.tab li.current a {
	color: #ff6b6b;
	font-weight: bold;
}
ul.tab li.current{
	border-bottom: 5px solid #ff6b6b;
}



/* slider */
#slider {
	width: 100%;
	height: 424px;
	overflow: hidden;
}

#slider ul {
	margin: 0;
	padding: 0;
	list-style: none;
	position: relative;
	left: 0;
	transition: left 0.5s;
	font-weight: bold;
	font-size: 5rem;
	color: #fff;
}

#slider li {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 424px;
}

.controls {
	width: 100%;
	display: flex;
	justify-content: center;
	padding: 1rem;
}

.controls div {
	width: 16px;
	height: 16px;
	margin: 0 8px;
	background-color: #adb5bd;
	border-radius: 50%;
}

.controls .current {
	background-color: #495057;
}

/* input */
.form {
	cursor: pointer;
}

.forminput {
	width: 100%;
	padding: 0.5rem;
	border: 1px solid #e9ecef;

	font-size: 1.5rem;
    line-height: 2rem;
    transition: all .25s;
}

.forminput:focus {
	outline: none;
	border: 1px solid #faa2c1;
	color: #e64980;
}

.submitbutton {
	margin-top: 1rem;
	font-size: 1.5rem;
	padding: 1rem 2rem;
	text-align: center;
	background-color: #f06595;
	font-weight: bold;
	color: #fff;
}

.submitbutton:hover {
	background-color: #f783ac;
}

.submittitle, .submittext {
	text-align: center;
	font-weight: bold;
	font-size: 3rem;
	padding: 1rem 0;

}

.submittext {
	text-align: left;
	font-size: 1rem;
	color: #ced4da;
}

/* color */

.white {
	background-color: white;
}

/* productsubscribe */


.productsubscribe img {
    width: 100%;
    height: auto;
}

.productinfomationmore {

}

.productbuy {
	background-color: #fff;
	padding: 1.5rem;
	cursor: pointer;
}

.productbuycontrols .controlsbutton {
	display: inline-block;
	padding: 0.5rem 1rem;
	border: 1px solid #e9ecef;
	border-radius: 7px;
	transition: all 0.3s;
}

.productbuycontrols .controlsbutton:nth-child(1):hover {
	color: #1c7cd6;
}

.productbuycontrols .controlsbutton:nth-child(2):hover {
	color: #f03e3e;
}

/* recommend*/

.recommend, .buy {
	text-align: center;
	background-color: #fff;
	margin-top: 1rem;
	padding: 0.8rem;
	color: #f03e3e;
	font-weight: bold;
	border-radius: 7px;
	border: 1px solid #f03e3e;
	transition: all 0.3s;
}

.recommend:hover {
	color: #fff;
	background-color: #f03e3e	;
}

.buy {
	color: #1c7cd6;
	border: 1px solid #1c7cd6;
}

.buy:hover {
	color: #fff;
	background-color: #1c7cd6;
}

/* productinfomation */
.productinfomation {
	margin-top: 1rem;
	background-color: #fff;
}

.productinfomation ul.ProductTabModule {
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
}

.productinfomation li {
	float: left;
	width: 50%;
	font-weight: bold;
}

.productinfomation li.current {
	background-color: #f03e3e;
	font-weight: bold;
}

.productinfomation li.current a {
	color: #fff;
}

.productinfomation li a {
	display: inline-block;
	width: 100%;
	text-align: center;
	padding: 1rem 0;
	text-decoration: none;
}

.productinfomationcontainer {
	display: none;
}

.productinfomationcontainer:hover {
	display: none;
}

.productinfomationcontainer.current {
	display: block;
}

.productinfomationcontainer_item {
	padding: 1rem;
	overflow: hidden;
	cursor: pointer;
}

.productinfomationcontainer_item:hover {
	background-color: #ddd;
}

.productinfomationcontainer_item .image {
	float: left;
}
.productinfomationcontainer_item .image img {
	width: 5rem;
	height: 5rem;
}

.productinfomationcontainer_item .subscribe {
	height: 80px;
	line-height: 80px;
	margin-left: 90px;
	font-weight: bold;
}

#indexRouter {
	position: relative;
	display: flex;
	width: 400px;
	height: 4rem;
	background-color: #fff;
	font-weight: bold;
	cursor: pointer;
	
	transition: all 0.5s;
}

#indexRouter .router-menu {
	position: relative;
	flex: 1 1 0px;
	display: flex;
	align-items: center;
	justify-content: center;
	
}

#indexRouter .router-menu i {
	font-size: 3rem;
	z-index: 9997;
}

#indexRouter .router-menu:nth-child(1) i {
	color: #fff;
}

#indexRouter .bar {
	position: absolute;
	height: 4rem;
	width: 50%;
	background-color: #ff6b6b;
	bottom: 0;
	left: 0;
	z-index: 9996;
	transform: translateX(0%);
}

/* router */

.routerContent  {
	display: none;
}

.routerContent.current {
	display: block;
}

.chart-container {
	margin-top: 1rem;
	background-color: #fff;
}

.chart-container .chart-title {
	font-weight: bold;
	text-align: center;
	font-size: 1.25rem;
	padding: 1rem 0;
}

#myChart {
	padding: 1rem;
}

.userJoin {
	background-color: #fff;
}


/* star modal */
.starModalContainer {
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: 10000;
}

.starModal i {
	font-size: 30rem;
	color: #ffe066;
}

/* join */

.userJoinTitle {
	padding: 1rem;
	background-color: #fff;
	margin-bottom: 1rem;
	width: 20rem;
	text-align: center;
	font-weight: bold;
}

.userJoinTitle span {
	font-size: 2rem;
}

.userJoin {
	box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.2);
}

.userJoin .userJoinbox {
	display: inline-block;
	padding: 1rem;
}

.userJoin .userJoinbox img {
	width: 100px;
	height: 105px;
}

.userJoin .nothing {
	text-align: center;
	height: 105px;
	line-height: 105px;
	font-weight: bold;
	font-size: 2rem;
}

.userInfomation {
	margin-top: 1rem;
	background-color: #fff;
	padding: 1rem;
	box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.2);
}

.userInfomation > .title {
	font-weight: bold;
}

.userInfomation > .title span {
	font-size: 2rem;
}


/* 반응형 */

@media (max-width: 1200px) {
	#columnContainer {
		margin-top: 5rem;
		column-count: 4;
	}

	.container {
		display: none;
	}

	.productinfomationcontainer_item .subscribe {
		float: none;
	}
}

@media (max-width: 780px) {

		#columnContainer {
 			column-count: 3;
		}

		[class*="col-"] {
        width: 100%;
    }
}

@media (max-width: 600px) {
		#columnContainer {
			column-count: 2;
		}
}

@media (max-width: 400px) {
		#columnContainer {
			column-count: 1;
		}
}

/* 모달 애니메이션 */
@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-100vh);
  }
  75% {
      opacity: 1;
      transform: translateY(25px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomOut {
  from {
    opacity: 1;
  }

  50% {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }

  to {
    opacity: 0;
  }
}

.modal-enter {
    animation: slideDown .5s ease-in-out;
    animation-fill-mode: forwards;
}


.modal-zoomIn {
    animation: zoomIn .5s ease-in-out;
    animation-fill-mode: forwards;
}

.modal-zoomOut {
    animation: zoomOut 2s ease-in-out;
    animation-fill-mode: forwards;
}