
body {
	display: flex;
	flex-direction: column;
}

body, html {
	height: 100%;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

*, *::after, *::before {
	box-sizing: inherit;
}



.bottom {
	flex: 0 0 0;
	border-top: 0.5rem solid #f06595;
}

/* header_container */

.header_container {
	height: 4rem;
	width: 100%;
	background: #fff;
	box-shadow: 0 0 1px 1px rgba(20,23,28,.1), 0 3px 1px 0 rgba(20,23,28,.1);
	position: fixed;
	z-index: 10;
}
	.header_inner {
		width: 80%;
		height: 4rem;
		margin: 0 auto;
		display: flex;
		align-items: center;
	}
	/*	.header_toggle {
			font-weight: 600;
			font-size: 2rem;
			cursor: pointer;
		}*/

		.header_title {
			font-weight: 600;
			font-size: 2rem;
			color: #f06595;
			margin-right: auto;
			cursor: pointer;
		}

		.header_nav {
			display: flex;
			width: 150px;
			justify-content: space-around;
			align-items: center;
		}
			
			.user_favorite, .user_thumbnail, .user_write {
				position: relative;
				cursor: pointer;
			}

			.user_favorite i {
				color: #f06595;
				font-size: 1.5rem;
				cursor: pointer; 
			}

			.user_thumbnail img {
				width: 40px;
				height: 40px;
				border-radius: 50%;
				cursor: pointer;
			}

			.tooltip_container {
				position: absolute;
				right: 0;
				
				background-color: #fff;
				box-shadow: 0 0 1px 1px rgba(20,23,28,.1), 0 3px 1px 0 rgba(20,23,28,.1);
				display: flex;
				flex-direction: column;
				padding-top: 1rem;
				padding-bottom: 1rem;

			}
				
				.user_write i {
					font-size: 1.5rem;
				}

				.favorite {
					top: 1.7rem;
					width: 250px;
					/* 임시 z-index */
					z-index: 9999;
					display: none;
				}

				.thumbnail {
					top: 2.7rem;
					width: 250px;

					/* 임시 z-index */
					display: none;
					
				}
					.tooltip_profile {
						display: flex;
						justify-content: center;
						padding-top: 0.5rem;
						padding-bottom: 0.5rem;
					}

					.tooltip_profile:hover {
						background-color: #e9ecef;
					}	
						.user_infomation {
							display: flex;
							flex-direction: column;
						
							font-size: 0.9rem;
							padding-left: 0.5rem;
						}
					
					.tooltip_menu {
						display: flex;
						padding: 1rem;
						align-items: center;
					}

					.tooltip_menu:hover {
						background-color: #e9ecef;
					}

					.tooltip_menu i {
						font-size: 1.5rem;
					}

						.tooltip_menu_text {
							padding-left: 1rem;
						}

						

.memo_container {
	width: 80%;
	padding-top: 5rem;
	margin: 0 auto;
}

	.memo_list_container {
	   	display: block;
	   	margin-top: 0.5rem;
	   	font-size: 0px;
	}

	.sizer {
		display: inline-block;
    	width: 25%;
    	padding: 0.5rem;
	}

	.square {
		padding-top: 100%;
    	position: relative;
    	background: white;
    	cursor: pointer;
    	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	}

	.square:hover {
		box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	}

	.title {
		font-size: 1.25rem;
		font-weight: 500;
		margin-bottom: 1rem;
	}

	.body {
		font-size: 1.1rem;
    	font-weight: 300;
    	color: #495057;
	}

	.content {
		position: absolute;
	    top: 1rem;
	    left: 1rem;
	    bottom: 1rem;
	    right: 1rem;
	    /* 텍스트가 길어지면 새 줄 생성; 박스 밖의 것은 숨김 */
	    white-space: pre-wrap;
	    overflow: hidden;
	}


/* modal */
.modal_container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 9999;

}

.modal_inner {
	width: 400px;
	background-color: #fff;
	padding: 1rem;	
	position: relative;
}

.remove {
	position: absolute;
	bottom: .5rem;
	right: .5rem;
	cursor: pointer;
	font-size: 2rem;
}
/* dimmed */
.dimmed {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #000;
	opacity: 0.7;
	z-index: 9998;
}

/* memo */


.modal_inner_title {
	padding: 0.5rem 0;
	text-align: center;
	font-weight: 600;
	font-size: 3rem;
}

.input_writer {
	outline: none !important;
	border: 2px solid #dbdbdb !important;
	font-size: 1.4rem !important;
	padding-left: 0.3rem !important;
	font-weight: bold !important;
}

.input_writer:hover {
	border: 2px solid #f06595 !important;
}

.input_writer:focus {
	border: 2px solid #f06595 !important;
}

.input_writer:active {
	border: 2px solid #f06595 !important;
}

.memo_textarea {
	margin-top: 0.5rem;
	width: 370px;
	outline: none;
	border: 2px solid #dbdbdb;
	resize: none;
	height: 200px;
	font-size: 1.5rem;
	font-weight: bold;
}

.memo_textarea:focus {
	border:2px solid #f06595;
}

.none {
	display: none;
}

.memo_send_button {
	background-color: #f06595;
	padding: 1rem;
	text-align: center;
	color: #fff;
	font-weight: bold;
	cursor: pointer;
}

.memo_send_button:hover {
	opacity: 0.7;
}

@media screen and (max-width: 700px) {
	.sizer {
		width: 33.3333%;
	}
}

@media screen and (max-width: 500px) {
	.sizer {
		width: 50%;
        padding: 0.25rem;
	}
}